body {
  background-color: #dff4fb;
  font-family: "Oxygen", sans-serif;
}

.h1,
.h2,
.h3 {
  font-weight: 700;
}

header {
  background: linear-gradient(to right, blue, navy);
  color: azure;
}

.hide {
  visibility: hidden;
}

.custom-button-color {
  background: #5098e6;
  color: #c7dfe8;
}
.custom-border-bottom {
  border-bottom: 2px solid black;
}

.custom-border {
  border: 1px solid black;
}

.custom-card-color {
  background: #2d3e50;
  color: azure;
  font-weight: bold;
}
